<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    	<title>Pequeños Peludos</title>

	<!--meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Lovely-pets Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
									Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//meta tags ends here-->

	<!--booststrap-->

	<link href="../Utilities/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<!--//booststrap end-->

	<!-- font-awesome icons -->
	<link href="../Utilities/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!--stylesheets-->
	<link href="../Utilities/css/style.css" rel='stylesheet' type='text/css' media="all">
	<!--//stylesheets-->
	<link rel='stylesheet' type='text/css' href='../Utilities/css/jquery.easy-gallery.css' />
	<!-- For-gallery-CSS -->
	<link href="../Utilities/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //pop-ups-->
	<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">

</head>

<body>

	<div class="header-outs">
		<div class="header-w3layouts">
			<!-- Navigation -->

			<div class="header-bar" >
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
						<!--h1><a class="navbar-brand" href="/login">L<span class="fa fa-paw" aria-hidden="true"></span>vely-Pets</a></h1-->
						<h1><a class="navbar-brand" href="/login">P<span class="nombre-titulo">equeñ</span><span class="fa fa-paw" aria-hidden="true"></span><span class="nombre-titulo">s</span>
									P<span class="nombre-titulo">elud</span><span class="fa fa-paw" aria-hidden="true"></span><span class="nombre-titulo">s</span></a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="nav navbar-nav">
								<li class="active"><a href="/login">Home</a></li>
								{% if es_admin %}
									<li><a href="/add" >Añadir</a></li>
								{% endif %}
								<li><a href="#" >Galeria</a></li>
								<li><a href="#" >Contacto</a></li>

							</ul>
						</nav>
					</div>
				</nav>
			</div>

			<div class="clearfix"> </div>

		</div>


		<!-- Slideshow 4 -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider4">
					<li>
						<div class="slider-img">
							<div class="container">
								<div class="slider-info">
									<h4> <span class="home-banner">A</span>dopta <span class="home-banner">U</span>na <span class="home-banner">M</span>ascota
										<span class="fa fa-paw paw-banner" aria-hidden="true"></span><span class="fa fa-paw paw-banner" aria-hidden="true"></span></h4>
									<p>Y llevate a casa un amigo que nunca te fallará.</p>
									<div class="outs_more-buttn">
										<a href="{{login}}" data-toggle="modal" data-target="#myModal">LOGIN</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-img ">
							<div class="container">
								<div class="slider-info">
									<h4><span class="home-banner">N</span>uestros <span class="home-banner">P</span>eludos <span class="home-banner">A</span>migos
										<span class="fa fa-paw paw-banner" aria-hidden="true"></span><span class="fa fa-paw paw-banner" aria-hidden="true"></span> </h4>
									<p>Te ayudarán a disfrutar de las pequeñas cosas.</p>
									<div class="outs_more-buttn">
										<a href="{{login}}" data-toggle="modal" data-target="#myModal">LOGIN</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- This is here just to demonstrate the callbacks -->
		<!-- <ul class="events">
      <li>Example 4 callback events</li>
    </ul>-->
		<!-- //banner -->
		<!-- modal -->
		<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Login</h4>
					</div>
					<div class="modal-body">
						<div class="out-info">
							<div class="letter-w3ls">

								<form action="/login" method="post">
									<div class="main">
										<!--div class="form-left-to-w3l">

											<input type="text" name="login" id="login" placeholder="Login" required="">
											<div class="clear"></div>
										</div>
										<div class="form-right-to-w3ls">

											<input type="password" name="passwd" id="passwod" placeholder="Contraseña" required="">
											<div class="clear"></div>
										</div-->

									</div>

									<div class="btnn">
										<button type="submit">Confirmar</button><br>
									</div>
								</form>
							</div>
						</div>
						<!--//register form-->

					</div>
				</div>
			</div>
		</div>
	</div>

{% include "/Templates/footer.html" %}