<div class="out-info">
    <div class="letter-w3ls filtro">

        <form action="/search" method="post" name="search" enctype="multipart/form-data">

            <div class="main">

                <div class="form-left-to-w3l">
                    <p>Tamaño de raza</p>
                    <select class="form-control" name="tamanho" id="tamanho">
                        <option value="">-Elija tamaño-</option>
                        <option value="Pequena">Pequeña</option>
                        <option value="Mediana">Mediana</option>
                        <option value="Grande">Grande</option>
                        <option value="Gigante">Gigante</option>
                    </select>

                </div>

                 <div class="form-left-to-w3l">
                    <p>Sexo</p>
                    <select class="form-control" name="sexo" id="sexo">
                        <option value="">-Elija sexo-</option>
                        <option value="Hembra">Hembra</option>
                        <option value="Macho">Macho</option>
                    </select>
                </div>
            </div>

                <div class="form-right-to-w3ls">
                    <p>Rango de edad</p>
                    <select class="form-control" name="edad" id="edad">
                        <option value="">-Elija rango de edad-</option>
                        <option value="Cachorro">Cachorro (0-6 meses)</option>
                        <option value="Cachorro_adolescente">Cachorro adolescente (6-18 meses)</option>
                        <option value="Adulto">Adulto (18 meses-7 años)</option>
                        <option value="Senior">Senior (> 7 años)</option>
                    </select>
                </div>

            <div class="btnn">
                <button type="submit">Buscar</button>
            </div>

        </form>
    </div>
</div>