                </div>
            </nav>
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class=" usuario_logueado" style="text-align: left; margin-left: 4%">
        <p style="color: white;">H<span class="fa fa-paw" aria-hidden="true" style="font-size: 13px"></span>LA  {{usuario}}! {% if es_admin %}(admin) {% endif %}</p>
    </div>
<!-- Slideshow 4 -->
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides" id="slider4">
                <li>
                    <div class="slider-img" >
                        <div class="container">
                            <div class="slider-info">
                                <h4> <span class="home-banner">A</span>dopta <span class="home-banner">U</span>na <span class="home-banner">M</span>ascota
                                    <span class="fa fa-paw paw-banner" aria-hidden="true"></span><span class="fa fa-paw paw-banner" aria-hidden="true"></span></h4>
                                <p>Y llevate a casa un amigo que nunca te fallará.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-img ">
                        <div class="container">
                            <div class="slider-info">
                                <h4><span class="home-banner">N</span>uestros <span class="home-banner">P</span>eludos <span class="home-banner">A</span>migos
                                    <span class="fa fa-paw paw-banner" aria-hidden="true"></span><span class="fa fa-paw paw-banner" aria-hidden="true"></span> </h4>
                                <p>Te ayudarán a disfrutar de las pequeñas cosas.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>